* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #D65108;
}

a:hover {
    color: #F0CF65;
}

h1,
h2,
h3 {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}

#title {
    font-size: 400%;
    display: inline-block;
    width: 50%;
    float:left;
}

#navbar ul {
    list-style:none;
}

#navbar li {
    display:inline;
    margin-left:2%;
    font-size:180%;
    float:right;
}