* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    color: #37392E;

}

a {
    text-decoration: none;
    color: #D65108;
}

a:hover {
    color: #F0CF65;
}

h1,
h2,
h3 {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}

#title {
    font-size: 400%;
    display: inline;
    width: 40%;
    float: left;
    padding: 5px 5px 5px 0px;
    text-align: center;
}

#navbar ul {
    list-style: none;
}

#navbar i {
    color: #F0CF65;
    font-size: 80%;
}

#navbar li {
    display: inline;
    margin-left: 2%;
    font-size: 180%;
    float: right;
}

hr {
    border-top: 5px solid #0A2463;
}

#hr2{
    margin-top:10px;
}

#sign-up-sticker {
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/yellow-starburst.png);
    line-height: 200px;
}

#background-image {
    height: 70vh;
    width: auto;
    background-image: url(../images/landing-page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

#tag-line {
    color: white;
    font-size: 500%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 50px;
}

.goods-trader {
    display: inline-block;
    margin-left: 40px;
    width: 45%;
    position: relative;
}

.goods-trader-header {
    display: inline-block;
}

.goods-trader-para {
    display: inline-block;
}

span {
    position: absolute;
    margin: 0 10px 0 20px;
    color: #37392E;
}

.events-title {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}