* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    
}

a {
    text-decoration: none;
    color: #D65108;
}

a:hover {
    color: #F0CF65;
}

h1,
h2,
h3 {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}

#title {
    font-size: 400%;
    display: inline;
    width: 40%;
    float: left;
    padding: 5px 5px 5px 0px;
    border-bottom: 5px dotted #93B5C6;
    text-align: center;
}

#navbar ul {
    list-style: none;
}

#navbar i {
    color: #F0CF65;
    font-size: 80%;
}

#navbar li {
    display: inline;
    margin-left: 2%;
    font-size: 180%;
    float: right;
}

#sign-up-sticker {
    position: fixed;
    z-index: 2;
    bottom:0;
    right:0;
    height:200px;
    width:200px;
    margin:20px;
    text-align:center;
    background-repeat:no-repeat;
    background-size:contain;
    background-image:url(../images/starburst-yellow.png);
    line-height:200px;
}