* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    color: #37392E;

}

a {
    text-decoration: none;
    color: #D65108;
}

a:hover {
    color: #F0CF65;
}

h1,
h2,
h3 {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}

#title {
    font-size: 400%;
    display: inline;
    width: 40%;
    float: left;
    padding: 5px 5px 5px 0px;
    text-align: center;
}

#title-div {
    background-color: white;
}

#navbar ul {
    list-style: none;
}

#navbar i {
    color: #F0CF65;
    font-size: 80%;
}

#navbar li {
    display: inline;
    font-size: 180%;
    float: right;
    margin-left: 2%;
}

/* Home Page */

hr {
    border-top: 5px solid #0A2463;
}

#hr2 {
    margin-top: 10px;
}


#sign-up-sticker {
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/yellow-starburst.png);
}

#sign-up-sticker p {
    padding-top: 78px;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}

#sign-up-sticker a:hover {
    color: white;
}

#background-image {
    height: 70vh;
    width: auto;
    background-image: url(../images/landing-page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
}

.tagline-div {
    height: 70vh;
    width: 50%;
}

#tag-line {
    color: white;
    font-size: 5vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 70px 0 50px 0;
}

.goods-trader {
    display: inline-block;
    margin-left: 40px;
    width: 45%;
    position: relative;
    font-size: 1vw;
    text-align: justify;
}

.trader-header {
    margin-bottom: 1vh;
}

span {
    position: absolute;
    margin: 0 10px 0 20px;
    color: #37392E;
}

.events-title {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

#upcoming-events {
    font-size: 300%;
    color: #D65108;
}

.events {
    border: 10px solid #D65108;
    height: 55vh;
    width: 25%;
    border-radius: 25px;
    display: inline-block;
    margin: 0 4% 2% 4%;
    padding: 2%;
    text-align: center;
    background-color: white;
}

#events-section {
    background-color: #F0CF65;
}

.map {
    margin-left: 10px;
    margin-top: 10px;
}

.contact-div {
    margin-top: 30px;
    margin-left: 50px;
    width: 46%;
    text-align: center;
}

.contact-section {
    height: 100px;
    display: inline-block;
}

#address {
    display: block;
    width: auto;
}

.contact-section h3 {
    color: #37392E;
}

.contact-section i {
    color: #F0CF65;
}

/* Home Page Media Queries */

@media only screen and (max-width: 767px) {

    #tag-line {
        font-size: 10vh;
        width: 100%;
        padding-top: 5vh;
    }

    #responsive-nav {
        float: none;
    }

    #nav-bar {
        padding: 0;
        margin: 0;
        float: none;
        width: 100%;
    }


    #navbar li {
        font-size: 100%;
        float: none;
        margin-left: 0;
    }

    ul {
        padding-left: 0;
    }

    #title {
        float: none;
        font-size: 200%;
        padding: 0;
    }

    #title-div {
        text-align: center;
        width: 100%;
    }

    .events {
        width: 100%;
        margin: 0 0 5% 0;
        height: 40vh;
    }

    .events p {
        margin-bottom: 0.5%;
    }

    .contact-div {
        width: 100%;
        margin: 5px;
        padding: 30px 40px 0 30px;
    }

    .goods-trader img {
        display: none;
    }

    .goods-trader {
        width: 100%;
        height: 30vh;
        margin-left: 0;
        margin-bottom: 3vh;
    }

    .goods-trader p {
        font-size: 400%;
        margin-right: 3vw;
    }


    #footer-star-three {
        display: none;
    }

    .map {
        width: 350px;
        height: auto;
    }

    #sign-up-sticker {
        display: none;
    }
}


/* Footer */

footer {
    background-color: #C2C9D8;
    padding: 50px;
    width: 100%;
    text-align: center;
    position: static;
}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline;
    margin: 20px;
}


/* Gallery */

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 18%);
    width: 100%;
    overflow: hidden;
}

#gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.pic-column p {
    width: 100%;
    padding: 25px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

/* Gallery Media Queries */

@media only screen and (max-width: 767px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    #gallery p {
        display: none;
    }
}

/* Traders */

#traders-intro {
    margin: 0 20px 0 20px;
}

#traders-intro h2 {
    font-size: 400%;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#traders-intro p {
    background-color: rgba(255, 255, 255, 0.5);
}

#gradient {
    background-image: linear-gradient(to bottom right, #D65108, #F0CF65, #C2C9D8);

}

.trader-div {
    display: inline-block;
    width: 100%;
}

.trader-div img {
    object-fit: cover;
    width:20%;
    height:auto;
    max-height:140px;
}

.trader-color {
    background-color: white;
}

/* Traders Form */

#trader-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.trader-signup-form {
    text-align: center;
}


.trader-signup-form input {
    border: 2px solid #37392E;
    border-radius: 4px;
    margin-top: 30px;
    margin-right: 20px;
}

.join-button {
    font-size: 150%;
    background-color: #F0CF65;
    font-family: 'Fugaz One', cursive;
    padding: 3px;
}

.join-button:hover {
    background-color: #D65108;
}

/* Traders Media Queries */
@media only screen and (max-width: 767px) {
    #traders-intro h2 {
        font-size: 300%;
    }

    #traders-intro {
        text-align: center;
    }
.trader-div{
height:28vh;
}

.trader-div h3{
    margin-top:1vh;
}

.trader-div img{
    display:none;
}

.trader-signup-form input{
display:block;
margin:auto;
}

}

/* Sign-up form */

#form-body {
    background-image: url(../images/signup-bg.jpg);
    background-repeat: no-repeat;
    background-position: right 1% bottom 80%;
}

#signup-title {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
    margin: 30px 150px 0px 150px;
    font-size: 120%;
    padding: 15px 15px 15px 15px;
}